{% extends "layouts/app.layout.twig" %}

{% block title %}Posts List{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Posts List For Author [{{ author_name }}]</h1>

    <div>
        <a class="btn btn-primary btn-large" href="/authors/{{ author_id }}/posts/create"><i class="fa fa-plus-square"></i> Add new record</a>
    </div>
    <div class="datagrid">
        <table>
            <thead>
            <tr>
                <th>SN.</th>
                <th>Subject</th>
                <th>Created At</th>
                <th>Last Updated</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for row in grid_rows %}
                <tr>
                    <td>{{ row.post_id }}</td>
                    <td>{{ row.subject }}</td>
                    <td>{{ row.created_at }}</td>
                    <td>{{ row.updated_at }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="/authors/{{ author_id }}/posts/edit/{{ row.post_id }}" class="btn btn-default"><i class="fa fa-edit"></i></a>
                            <a href="#" class="btn btn-default" data-href="/authors/{{ author_id }}/posts/delete/{{ row.post_id }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    You are about to delete data!
                </div>
                <div class="modal-body">
                    Are you sure to do this action?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
{% endblock %}